<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.autor }}" />
    <title>{{ site.titulo }} {% block title %} ::
    {{ entry.titulo }}{% endblock %}</title>
    <link href="{{ url_for("static/css/estilo.css") }}" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ url_for("static/js/head.js") }}"></script>
    <meta name="keywords" content="{{ site.claves }}" />
    <meta name="description" content="{% if entry.descripcion %}{{ entry.descripcion }}{% else %}{{ site.descripcion }}{% endif %}" />
    <link href="{{ url_for("static/favicon.ico") }}" type="image/x-icon" rel="icon" />
    <link href="{{ url_for("static/favicon.ico") }}" type="image/x-icon" rel="shortcut icon" /> 
    <link href="{{ absolute_url_for("feed.rss") }}" rel="alternate" title="{{ site.title }}" type="application/rss+xml" />
  </head>
  <body>
    <div id="wrapper">
{% include '_esquema/_cabeza.html' %}
      <div id="page">
        <div id="content">
{% block content %}{% endblock %}
        </div>
{% include '_esquema/_lateral.html' %}
      </div>
    </div>
{% include '_esquema/_pie.html' %}
  </body>
</html>
