{% extends "_base.html" %}

{% block content %}
  <h1>{{ entry.titulo }}</h1>
  {{ entry.body }}

  <div class="meta">
    Publicado: {{ entry.date.strftime('%d/%m/%Y') }}
    <br />

    {% if entry.tags %}
    Etiquetas:
      {% for tag in entry.tags -%}
        <a href="{{ site.tag_cache.get(tag).get_url() }}">{{ tag }}</a>
        {%- if not loop.last %}, {% endif -%}
      {%- endfor %}
    {% endif %}
  </div>
  <div id="disqus_thread">
    <input type="hidden" id="url_id" value="{{ entry.date.strftime('%Y-%m-%d') }}-{{ entry.slug }}" />
  </div>
  <!--
  <div id="myComments"><iframe id="ifComments" src="{{ url_for("/") }}static/commentator/?page={{ site.uri_id }}-{{ entry.slug }}&title={{ entry.titulo }}"></iframe></div>
  -->
{% endblock %}
