{% extends "_base.html" %}

{% block title %}etiqueta {{ entry.slug }}{% endblock %}

{% block content %}
<h2>Entradas con etiqueta {{ entry.slug }}</h2>

<div class="etiquetas">
  {% for post in site.tags[entry.slug] %}
  <div class="etiqueta">
    <span class="date">{{ post.date.strftime('%d/%m/%Y') }}</span>
    <span class="title"><a href="{{ post.get_url() }}">{{ post.titulo }}</a></span>
    <span class="tagline">{{ post.tagline }}</span>
  </div>
  {% endfor %}
</div>
{% endblock %}
