{% meta %}
  titulo: Noticias
{% endmeta %}

{% block content %}
  {% for post in site.posts %}
    <div class="post">
      <h2 class="title"><a href="{{ post.get_url() }}">{{ post.titulo }}</a></h2>
        <p class="meta">
          <span class="author">{{ site.autor }}</span>
          <span class="date">@{{ post.date.strftime('%d/%m/%Y') }}</span>
          <span class="links">
          {% for tag in post.tags -%}
            <a href="{{ site.tag_cache.get(tag).get_url() }}">{{ tag }}</a>
            {%- if not loop.last %}, {% endif -%}
          {%- endfor %}
          </span>
        </p>
    </div>
  {% endfor %}
  <div id="disqus_thread"><input type="hidden" id="url_id" value="index" /></div>
  <!--
  <div id="myComments"><iframe id="ifComments" src="static/commentator/?page={{ site.uri_id }}-index"></iframe></div>
  -->
{% endblock %}
