<div id="header-wrapper">
  <div id="header">
    <div id="logo">
      <h1><a name="tope" href="{{ url_for("/") }}#tope"><span>ush</span>compu</a></h1>
    </div>
    <div id="menu">
      <ul>
        <li>
          <a href="mailto:ushcompu[en]ushcompu[punto]com[punto]ar"
           >email</a>
        </li>
        <li>
          <a href="http://identi.ca/ushcompu"
           >identi.ca</a>
        </li>
        <li>
          <a href="https://joindiaspora.com/people/32730"
           >Diaspora</a>
        </li>
        <li>
          <a href="http://gitorious.org/ushcompu/ushcompu-com-ar"
           >Gitorious</a>
        </li>
    <!--
        <li><a href="{{ url_for("/") }}#tope">Inicio</a></li>
        <li><a href="{{ url_for("/") }}#trabajo">¿De qué trabajo?</a></li>
        <li><a href="{{ url_for("/") }}#gustos">¿Qué me gusta?</a></li>
    -->
      </ul>
    </div>
  </div>
</div>
