<div id="sidebar">
  <ul>
    <li>
      <h2>Día del programador</h2>
      <cite>Es el día número 256 del año</cite>
      <br />
      <cite>Es el 13/9</cite>
      <br />
      <cite>pero en años bisiestos es el 12/9</cite>
      <br />
      <div id="dias">
        Cargando...
      </div>
      <noscript>
        <em>Tu navegador no soporta, o no tiene habilitado, JavaScript.</em>
      </noscript>
      <div style="clear: both;">&nbsp;</div>
    </li>
    <li>
      <h2>Buscar</h2>
      <div id="search" >
        <form method="get" action="http://duckduckgo.com/">
          <div>
            <input type="text" name="q" id="search-text" value="" />
            <input type="submit" id="search-submit" value="buscar" />
          </div>
        </form>
      </div>
      <div style="clear: both;">&nbsp;</div>
    </li>
    <li>
      <h2>Noticias</h2>
      <ul>
      {% for post in site.posts[:5] %}
        <li>
          <a href="{{ post.get_url() }}" title="{{ post.titulo }} @ {{ post.date.strftime('%d/%m/%Y') }}"
           >{{ post.titulo }}</a>
        </li>
      {% endfor %}
        <li><a href="{{ url_for("noticias") }}">[mas noticias]</a></li>
      </ul>
    </li>
    <li>
      <h2>Enlaces</h2>
      <ul>
        {% for enlace in site.enlaces_urls %}
          <li><a href="{{ enlace }}">{{ site.enlaces_nombres[loop.index0] }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li>
    <li id="identica">
      <h2>identi.ca</h2>
      <cite><a href="http://identi.ca/ushcompu/all">identi.ca/ushcompu/all</a></cite>
      <ul>
        <img src="{{ url_for("static/img/loading.gif") }}" alt="cargando" />
      </ul>
      <noscript>
        <em>Tu navegador no soporta, o no tiene habilitado, JavaScript.</em>
      </noscript>
    </li>
    <li>
      <h2>Gracias</h2>
      <ul>
        <li>por leer todo esto</li>
        <li><a href="#tope">ir al inicio</a></li>
      </ul>
    </li>
  </ul>
</div>
