<div id="footer">
  <p>
    Copyright {{ site.anio }}. <a href="#tope">{{ site.autor }}</a>. {{ site.ubicacion }}.
    <br />
    Design (Perfect Blemish) by
    <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>
    Released for free under a Creative Commons Attribution 2.5 License
    <br />
    Este sitio fue generado con <a href="http://solovyov.net/cyrax/">Cyrax</a>.
    |
    El código está disponible con licencia MIT en <a href="http://gitorious.org/ushcompu/ushcompu-com-ar">Gitorious</a>.
    <br />
    <a href="#tope">Inicio</a>
  </p>
</div>
<script type="text/javascript">
/* <![CDATA[ */
head.js('{{ url_for("static/js/jquery.js") }}','{{ url_for("static/dia_programador/dia_programador.js") }}','{{ url_for("static/js/principal.js") }}');
/* ]]> */
</script>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Perfect Blemish     
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100729

-->
